@page
@model ECommerceApp.Pages.Store.CartModel
@{
    ViewData["Title"] = "Cart";
    Layout = "_Layout";
}

    <body style="margin-top: 70px;">
        <h2 style="text-align: center;">Cart Inventory</h2>
        @foreach (var item in Model.CartItems)
        {
            <h3>@item.Services.ServiceType</h3>
            <p>Price: @item.Quantity * @item.Services.Price = @(item.Quantity * item.Services.Price) </p>
            <div>
                <form method="post">
                    <input type="hidden" asp-for="@item.Quantity" />
                    <p>
                        Quantity: <input type="number" value="1" min="0" max="100" step="1" style="text-align:center" />
                        <input type="submit" value="Update" class="btn btn-secondary" />
                    </p>
                </form>
                <a asp-page="../Product/Delete" asp-route-ID="@item.ID" class="btn btn-danger m-1">Delete</a>
            </div>
            <hr />
        }
    </body>
