@page "{id:min(1)}"
@model ECommerceApp.Pages.Admin.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post" class="mt-3">
    <input hidden asp-for="@Model.CartItems.CartID" />

    <div class="form-group row">
        <label asp-for="@Model.CartItems.Services.ServiceType class=" col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.CartItems.Services.ServiceType" class="form-control" placeholder="Service Type" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.CartItems.Quantity class=" col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.CartItems.Quantity" class="form-control" placeholder="Quantity" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.CartItems.Services.Price class=" col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.CartItems.Services.Price" class="form-control" placeholder="Price" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.CartItems.Services.Duration class=" col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.CartItems.Services.Duration" class="form-control" placeholder="Duration" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.CartItems.Services.Description class=" col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.CartItems.Services.Description" class="form-control" placeholder="Description" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-page="/Admin/ManageServices" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>
