@page "{id:int?}"
@model ECommerceApp.Pages.Admin.OrderDetailsModel
@{
    ViewData["Title"] = "OrderDetails";
    Layout = "_Layout";

    @*Converting strings from properties to list*@
    string[] serviceList = Model.ReceiptOrders.ServiceList.Split(",");
    string[] quantityList = Model.ReceiptOrders.CartItemQuantity.Split(",");
    string[] priceList = Model.ReceiptOrders.ServicePriceList.Split(",");

    @*sum for all service items in cart*@
    decimal sum = 0;
}


<html>
<body style="margin-left: 4%; margin-right: 2%; background:#eee;">

    @*getting sum for all items in cart*@
    @for (int i = 0; i < priceList.Length; i++)
    {
        @(sum += Convert.ToDecimal(priceList[i]) * Convert.ToInt32(quantityList[i]))
    }

    <label hidden>
    </label>
    <div style="margin-top: 80px;" class="row invoice row-printable">
        <div class="col-md-7 col-md-offset-2" style="flex: 1 2 58.333333%; max-width: 98%;">
            <div class="panel panel-default plain" id="dash_0">
                <div class="panel-body p30">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="invoice-logo"><img src="http://themes.suggelab.com/dash/img/logo-blue.png" alt="Invoice logo"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="invoice-from">
                                <ul class="list-unstyled text-right">
                                    <li>Wellness Chiropractic</li>
                                    <li>Seattle, Washington</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12" margin-left="50px">
                            <div class="invoice-details mt25">
                                <div class="well">
                                    <ul class="list-unstyled mb0">
                                        <li><strong>Invoice</strong> #936988</li>
                                        <li><strong>Invoice Date:</strong> @Model.ReceiptOrders.Date </li>
                                        <li><strong>Status:</strong> <span class="label label-danger">PAID</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="invoice-to mt25">
                                <ul class="list-unstyled">
                                    <li><strong>Name: @Model.ReceiptOrders.FirstName @Model.ReceiptOrders.LastName </strong></li>
                                    <li><strong>Shipping Address: @Model.ReceiptOrders.Address </strong></li>
                                    <li><strong>City: @Model.ReceiptOrders.City </strong></li>
                                    <li><strong>State: @Model.ReceiptOrders.State </strong></li>
                                </ul>
                            </div>

                            <div class="invoice-items">
                                <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                    <table class="table table-bordered" style="text-align:center;">
                                        <thead>
                                            <tr>
                                                <th class="per50 text-center">Service Type</th>
                                                <th class="per25 text-center">Price and Quantity</th>
                                                <th class="per25 text-center">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < serviceList.Length; i++)
                                            {
                                                <tr>
                                                    <td>@serviceList[i]</td>
                                                    <td class="text-center">@priceList[i] x @quantityList[i]</td>
                                                    <td class="text-center">@(Convert.ToDecimal(priceList[i]) * Convert.ToInt32(quantityList[i])) USD</td>
                                                </tr>
                                            }
                                        </tbody>

                                        <tfoot>
                                            <tr>
                                                <th colspan="2" class="text-right">Sub Total:</th>
                                                <th class="text-center">$@sum USD</th>
                                            </tr>
                                            <tr>
                                                <th colspan="2" class="text-right">Tax:</th>
                                                <th class="text-center">$@(String.Format("{0:0.00}", sum / 6.50M)) USD</th>
                                            </tr>
                                            <tr>
                                                <th colspan="2" class="text-right">Total:</th>
                                                <th class="text-center">$@Model.ReceiptOrders.Amount USD</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-left: 77%;">
        <div style="margin-bottom:200px;"></div>
    </div>
</body>
</html>